<div class="bg">
<div class="ui inverted dimmer" [class.active]='loading'>
  <div class="ui text loader">Loading</div>
</div>
<div class="bg">
<div class="jumbotron bg-white text-center p-0 m-0 bg">
  <h1 class="display-4 l animated bounceInDown slower">Corona Covid-19 Tracker Country Wise</h1>
  <hr>

  <div class="mx-auto">
      <div class="form-group col-lg-5 mx-auto">
          <label for="c" class="cont">Select Country</label>
          <select name="" class="form-control dec" id="c" #input (change)='updateValues(input.value)'>
              <option class="dec1" value="{{con}}" *ngFor='let con of countries'>{{con}}<hr></option>
          </select>
      </div>
  </div>
  <app-dashboard-card [totalConfirmed]='totalConfirmed' [totalActive]='totalActive' [totalRecovered]='totalRecovered' [totalDeaths]='totalDeaths'></app-dashboard-card>


  <div class="row">

      <div class="col">

          <table class="table bgg">
              <thead>
                  <tr>
                      <th class="wh">Sno.</th>
                      <th class="wh">Date</th>
                      <th class="wh">Cases</th>
                  </tr>
              </thead>

              <tbody>
                  <tr *ngFor='let cs of selectedCountryData; index as i '>
                      <td class="wh2">{{i+1}}-</td>
                      <td class="wh ">{{cs.date | date}}</td>
                      <td class="wh2 animated infinite bounce slower">{{cs.cases}}</td>
                  </tr>
              </tbody>
          </table>
      </div>


  </div>
</div>
<div class="col bgg">
    <google-chart [type]='chart.LineChart' style="width: 100%;" [options]='chart.options' [height]='chart.height' [data]='dataTable'></google-chart>
</div>

</div>