 <div class="container-fluid">
     <div class="row">
         <div class="col-lg-1 col-sm-1"></div>
         <div class="col-lg-5 col-sm-11 mtt">
             
            <img src="https://image.flaticon.com/icons/png/512/2659/2659991.png" class="img-fluid">
             
         </div>
         <div class="col-lg-5 col-sm-11 mt ">
             <p>
               <br>
               <br>
               <br>
                What is coronavirus?
                Coronaviruses are a family of viruses that range from the common cold to MERS coronavirus, which is
                Middle East Respiratory Syndrome coronavirus and SARs, Severe acute respiratory syndrome
                coronavirus.
                Where do coronaviruses come from?
                Corona viruses are circulating in animals and some of these coronaviruses have the capability of
                transmitting between animals and humans. We call that a spillover event.
                How can I help protect myself from a coronavirus?
                The coronaviruses typically cause respiratory symptoms. So we recommend basic hand hygiene, such
                as washing your hands with soap and water and respiratory hygiene, such as when you sneeze,
                sneezing into your elbow.
                Ways to protect yourself against a potential animal source would be to avoid unnecessary
                unprotected contact with live animals and to make sure that you wash your hands thoroughly after
                contact with animals and also to make sure your meat is cooked thoroughly before consuming.
                Is there treatment?
                There are no specific treatments for coronaviruses, but symptoms can be treated.
             </p>
             
         </div>
         <div class="col-lg-1 col-sm-1"></div>
     </div>
     <hr>
     <br>
     <div class="row">
        <div class="col-lg-1 col-sm-1"></div>
        <div class="col-lg-5 col-sm-11 mtt">
            
           <img src="https://image.flaticon.com/icons/svg/2746/2746334.svg" class="img-fluid">
            
        </div>
        <div class="col-lg-5 col-sm-11 mt">
            <p>
              <br>
              <br>
              <br>
              <br>
                COVID-19 spreads mainly among people who are in close contact (within about 6 feet) for a prolonged period. Spread happens when an infected person coughs, sneezes, or talks, and droplets from their mouth or nose are launched into the air and land in the mouths or noses of people nearby. The droplets can also be inhaled into the lungs. Recent studies indicate that people who are infected but do not have symptoms likely also play a role in the spread of COVID-19.

                It may be possible that a person can get COVID-19 by touching a surface or object that has the virus on it and then touching their own mouth, nose, or eyes. However, this is not thought to be the main way the virus spreads. COVID-19 can live for hours or days on a surface, depending on factors such as sun light and humidity. Social distancing helps limit contact with infected people and contaminated surfaces.
                
                Although the risk of severe illness may be different for everyone, anyone can get and spread COVID-19. Everyone has a role to play in slowing the spread and protecting themselves, their family, and their community.
            </p>
            
        </div>
        <div class="col-lg-1 col-sm-1"></div>
    </div>
    <hr>
    <div class="row">
        <div class="col-lg-1 col-sm-1"></div>
        <div class="col-lg-5 col-sm-11 mtt">
            
           <img src="https://image.flaticon.com/icons/png/512/2746/2746437.png" class="img-fluid">
            
        </div>
        <div class="col-lg-5 col-sm-11 mt">
            <p>
              
                Hand sanitizer is a liquid, gel, or foam generally used to decrease infectious agents on the hands. In most settings, hand washing with soap and water is generally preferred.Hand sanitizer is less effective at killing certain kinds of germs, such as norovirus and Clostridium difficile and unlike soap and water, it cannot remove harmful chemicals.People may incorrectly wiped off hand sanitizer before it has dried, and some are less effective because their alcohol concentrations are too low.

                In most healthcare settings alcohol-based hand sanitizers are preferable to hand washing with soap and water. Reasons include it being better tolerated and more effective. Hand washing with soap and water; however, should be carried out if contamination can be seen, or following the use of the toilet.The general use of non-alcohol-based hand sanitizers has no recommendations.
                
                Alcohol-based versions typically contain some combination of isopropyl alcohol, ethanol (ethyl alcohol), or n-propanol, with versions containing 60% to 95% alcohol the most effective.Care should be taken as they are flammable.Alcohol-based hand sanitizer works against a wide variety of microorganisms but not spores.Compounds such as glycerol may be added to prevent drying of the skin.Some versions contain fragrances; however, these are discouraged due to the risk of allergic reactions.Non-alcohol based versions typically contain benzalkonium chloride or triclosan; but are less effective than alcohol-based ones
            </p>
            
        </div>
        <div class="col-lg-1 col-sm-1"></div>
    </div>
    <hr>
    <div class="row">
        <div class="col-lg-1 col-sm-1"></div>
        <div class="col-lg-5 col-sm-11 mtt">
            
           <img src="https://image.flaticon.com/icons/svg/2790/2790727.svg" class="img-fluid">
            
        </div>
        <div class="col-lg-5 col-sm-11 mt">
            <p>
              <br>
              <br>
              <br>
              <br>
                “It is becoming increasingly clear that all people should be wearing masks while out in public. Masks are a likely reason why the virus has been better controlled in China, South Korea, Japan, and other countries,” Dr. Subinoy Das, chief medical officer of Tivic Health and the chief executive officer of the U.S. Institute for Advanced Sinus Care and Research, told Healthline.

                The CDC is recommending, not requiring, mask use when going out in public. The agency stressed that the advisory applies to cloth masks — including homemade masks — not hospital-grade surgical masks and microparticle-filtering N95 masks.
                
                “Those are critical supplies that must continue to be reserved for healthcare workers and other medical first responders,” according to the CDC.
                
                
            </p>
            
        </div>
        <div class="col-lg-1 col-sm-1"></div>
    </div>
 </div>