 <app-navbar></app-navbar>
 <router-outlet></router-outlet>
 <head> <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
</head>
<footer class="container-fluid bg-dark top mar" style="margin-top: 16vh;">
    <hr>
    <div class="container text-center icons">
       <a  href="https://www.facebook.com/harshit.singh.2727"> <fa-icon class="if"[icon]="faFacebook" size="lg"></fa-icon></a>
        <a href="https://github.com/HarshitSingh27"><fa-icon class="if" [icon]="faGit" size="lg"></fa-icon></a>
        <a href="https://www.instagram.com/harshitsingh27"><fa-icon class="if" [icon]="faInstagram" size="lg"></fa-icon></a>
        <a href="https://www.linkedin.com/in/harshit-singh-b17041190"><fa-icon class="if" [icon]="faLinkedin" size="lg"></fa-icon></a>
     </div>
       <h6 class="text-center mb-0 py-4 clr">© 2K20 Harshit</h6>
  
       <style>
           .clr{
               color:whitesmoke;
               /* padding:8px;
               margin-bottom: 7px; */
           }
           .if
           {   color: white;
               padding:9px;
               
           }
           /* .top
           {
               height: 80px;
           } */
       </style>
    
  </footer>