<div class="container-fluid">
    <div class="jumbotron jumbotron-fluid bg">
        <div class="container">
          <h1 class="display-4">INDIA</h1>
          <h2 class="display-4 q">STATEWISE</h2>
        </div>
      </div>
<div class="row">
    <div class="col-12">
<table id="users" class="table-responsive-sm">
    <tr>
        <th *ngFor="let col of columns">
            {{col}}
        </th>
    </tr>
    <tr *ngFor="let user of users">
        <td class="data" *ngFor="let col of index">
            {{user[col]}}
        </td>
    </tr>
</table>
</div>
</div>
</div>

